/***************************************************************************************************
											VARIABLES
***************************************************************************************************/

:root {
    --primary-color: #28001b;
    --accent-color: #DB4C1C;
    --text-color: #fff;
}


/***************************************************************************************************
										  GLOBAL STYLES
***************************************************************************************************/

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--primary-color);
    overflow-x: hidden;
}
ul {
    margin: 0;
    padding: 0;
}
.text-primary {
    color: var(--primary-color);
}

.text-accent {
    color: var(--accent-color);
}

.text-color {
    color: var(--text-color);
}

.content {
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: var(--text-color);
    text-align: center;
    font-weight: 100;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 25px 0;
    text-transform: uppercase;
}


/***************************************************************************************************
										  HEADER SECTION
***************************************************************************************************/

.logo {
    width: 12vw;
}



/***************************************************************************************************
									  COMMING SOON SECTION
***************************************************************************************************/

#comming-soon {
    /*margin: 0 5vw;*/
}

.heading {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 3rem;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px;
}

.heading span {
    display: block;
    letter-spacing: 1px;
    font-size: 4.2rem;
}

.gallery-icon {
    width: 4vw;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: float;
}

.desktop-icons {
    display: block;
}

.bottom-icons {
    display: none;
}


.retro-icon {
    width: 10vw;
}

.retro-icon-1x {
    width: 2vw;
}

.retro-icon-2x {
    width: 6vw;
}

.pull-up {
    position: relative;
    top: 5px;
}

.desktop-icons .retro-icon:nth-of-type(1) {
    position: absolute;
    bottom: 4%;
    left: 2%;
}

.desktop-icons .retro-icon:nth-of-type(2) {
    position: absolute;
    width: 8vw;
    bottom: 28%;
    left: 2%;
}

.desktop-icons .retro-icon-1x:nth-of-type(1) {
    width: 5vw;
    position: absolute;
    bottom: 7%;
    left: 16%;
}

.desktop-icons .retro-icon:nth-of-type(3) {
    position: absolute;
    width: 8vw;
    bottom: 28%;
    right: 2%;
}

.desktop-icons .retro-icon-2x:nth-of-type(2) {
    width: 6vw;
    position: absolute;
    bottom: 5%;
    right: 2%;
}

.desktop-icons .retro-icon-1x:nth-of-type(3) {
    width: 5vw;
    position: absolute;
    bottom: 7%;
    right: 13%;
}






/*****MAIN CONTAINER*******/

#main-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}



/****************************************
            COUNTER
****************************************/

ul.countdown {
    list-style: none;

    display: block;
    text-align: center;

}

ul.countdown li {
    display: inline-block;
    padding: 5px;
}

ul.countdown li span {
    font-size: 3em;
    font-weight: 500;
    line-height: 0.8em;

}
.sub-count {
    font-size: 0.8em!important;
    letter-spacing: 1px;
}


canvas {
    
    
    border: 5px solid #28001B;
    border-style:solid;
    border-radius: 15px 50px;
}

.columns{
    display: flex;
    flex-direction: row-reverse;
}
.flex {
    flex: 1;
}
.inner-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;

}
#myCanvas {
    z-index: 999;

    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: float;
}



/***************************************************************************************************
									  		ANIMATIONS
***************************************************************************************************/

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-7px);
    }
    100% {
        transform: translateY(0px);
    }
}


.content.content--canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}